@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Imate li nalog?</h1>
    <p>Ukoliko imate <a href="/Login/LoginPage"> uloguj se </a></p>
    <label for="lab1">Ukoliko nemate: REGISTRACIJA</label>


    <p><a href="/Korisnik/AddKorisnikPage">Korisnik</a></p>

    




</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
@*<script src="~/js/c~/js/chat.js"></script>*@
