@model IEnumerable<Neo4Fredis.Models.Entities.MestoZaIzlaske>
<script src="wwwroot/js/KorisnikProfile.js"></script>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Sva mesta</h1>

<div class="container pt-5">
    <div class="row">
        @*<div class="col-md-6">
            <a class="btn btn-dark" href="/Author/Add">+ Add more</a>
        </div>*@
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Aktuelna mesta</h3>

            <table  class="table table-stripped table-bordered-dark">
                <thead>
                    <tr>
                        <th>Naziv</th>
                        <th>Adresa</th>
                        <th>Opis</th>
                       <th>BrojZainteresovanih</th>              
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model){
                    <tr>
                        <td>@item.Naziv</td>
                        <td>@item.Adresa</td>
                        <td>@item.Opis</td>
                        <td>@item.BrojZainteresovanih</td>                            
                          
                          
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    function prijaviSe(imeMesta, korisnikEmail) {
        fetch('PrijaviSe', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                mesto: imeMesta,
                korisnikEmail: korisnikEmail
               
            }),
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            // Obradite uspešan odgovor ovde
        })
        .catch(error => {
                alert("There has been a problem with your fetch operation: " + error.message);
           // alert($'There has been a problem with your fetch operation: {error}');
        });
    }
</script>


