@*
@model IEnumerable<RedisNeo2.Models.Entities.Dogadjaj>*@
@model Neo4Fredis.Models.DTOs.Sortiranje
@{
    ViewData["Title"] = "MestoZaIzlaske Page";
}

<div class="text-center">
    <h1 class="display-4">Sve o mestima za izlaske</h1>
    <p> <a href="/MestoZaIzlaske/AddPlacePage">Dodaj</a> </p>
    <p> <a href="/MestoZaIzlaske/GetAll">Sva mesta</a> </p>
    <p> <a href="/MestoZaIzlaske/Brisanje"> Brisanje</a></p>
    <p> <a href="/MestoZaIzlaske/PrikazPrijavljenih"> Svi zainteresovani</a></p>
    <p> <a href="/MestoZaIzlaske/UredjenaMestaPage"> Uredjena Mesta </a></p>
    
   
   
        <hr/>

   
</div>

